
files/init-database-test.json
scripts/tasks/outputs/*.txt
scripts/tasks/outputs/*.json
coverage/
coverage-ts/
.env.sentry-build-plugin
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/

.env.sentry-build-plugin

*.log

node_modules
dist
*.local
report
