.settings {
  position: fixed;
  bottom: 1vw;
  left: 1vw;

  i {
    color: var(--settings-icon-color) !important;
  }
}

.settings__bottom {
  display: flex;
  margin-top: 1rem;
}

.settings__book-mode {
  margin-left: 1rem;
  font-size: 0.5rem;
}

.layout__outer {
  width: 100vw;
  height: 100vh;
}

.sidebar__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 0.5vh;
}

.sidebar {
  [data-pc-section="header"] {
    height: 1vh !important;
    overflow: hidden;
  }
}

.p-togglebutton.p-highlight .p-button {
  background: #555;
}

.p-tieredmenu {
  width: 22.5rem;
}

span[data-pc-section="label"] {
  font-size: 0.8rem;
}

.p-sidebar-left {
  width: 32.5rem !important;
}

.p-sidebar-left .p-sidebar {
  width: 32.5rem !important;
  height: 100%;
}

.select-label {
  margin-left: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 2.5rem;

  span {
    padding-bottom: 1vh;
    border-bottom: 1px solid var(--background-color);
  }
}
